.container {
	display: table;
	background-color: rgba(235,214,213,.5);
	min-height: 73px;
	min-width: 700px;
}

.box {
	display: table-cell;
    vertical-align: middle;
	padding: 20px;
	font-size: 20px;
	float: left;
	background-color: rgba(255,14,13,.5);
	margin: 5px;
	cursor: pointer;
}

#txtbox {
	display: table;
	background-color: rgba(135,214,213,.5);
	min-height: 73px;
	min-width: 700px;
}